{% extends 'leaderboard/base.html' %}
 {% block content %}
 <div class="col-lg-5"></div>
 <div class="col-lg-5">
 	<br>
 	<br>
 	<br>
 <h3><b><u>Sign up</u></b></h3>
 <br>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}
        <br> {{ field }} {% if field.help_text %}
        
        {% endif %} {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    </p>
{% endfor %}
<br>
    <button style="margin-left: 1.5cm" type="submit" class="btn btn-info">Sign up</button>
  </form>
 </div>

 {% endblock %}